language: node_js
node_js:
  - "8"
dist: xenial  
sudo: required
services:
  - docker

env:
  global:
    - DOCKER_TLS_VERIFY="1"
    - DOCKER_HOST="tcp://104.210.57.53:2376"
    - DOCKER_CERT_PATH="$TRAVIS_BUILD_DIR/azure"
    - DOCKER_MACHINE_NAME="dronuts-2019-group-1"

script:
  - cd ./server && npm test
  - cd ./client && npm test
  - docker-compose --file docker-compose.prod.yml build 

deploy:
  skip_cleanup: true
  provider: script
  script: docker-compose --file docker-compose.prod.yml up -d --remove-orphans
  on:
    branch: dockerfilechanges
